* {
    margin: 0;
    padding: 0;
}
div {
    text-align: center;
}
button {
    font-size: 32px;
    padding: 10px;
}
h1 {
    font-size: 64px;
    padding-top: 35px;
}
@keyframes shake {
    0%{
        transform: translateX();
    }
}